# build
lib/

# dependencies
node_modules

# tests
.lintpilotcache/
coverage/

# misc
.DS_Store
.idea/
.iml
.log
.vscode/

# yarn
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
