name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        YARN_VERSION=$(jq -r '.packageManager' package.json | cut -d '@' -f2)
        echo -e "\033[34mYarn version:\033[0m $YARN_VERSION"

        echo -e "\033[35mEnabling Corepack\033[0m"
        corepack enable
        corepack prepare yarn@$YARN_VERSION --activate

        echo -e "\033[35mInstalling dependencies\033[0m"
        yarn install --immutable

    - name: Check TypeScript types
      run: npx tsc --noEmit

    - name: Run tests with coverage
      run: yarn test --coverage

    - name: Build project
      run: yarn build

    - name: Run lint
      run: yarn lint --ignore-patterns '**/*.ts'

    - name: Run lint with legacy ESLint config
      run: yarn lint --eslint-use-legacy-config --ignore-patterns '**/*.ts'

    - name: Check code quality
      run: yarn knip
